<%= form_with(model: @form, local: true) do |form| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= @form.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_title">
    <%= form.label :name %>
    <%= form.text_field :name, size:25, maxlength:140 %>
  </div>
  <div class="form_title">
    <%= form.label :email %>
    <%= form.text_field :email, size:25, maxlength:140 %>
  </div>
  <div class="form_title">
    <%= form.label :content %>
    <%= form.text_field :content, size:25, maxlength:140 %>
  </div>
  <%= form.submit %>
<% end %>
